.carousel-item{
    width: 400px;
    height: 400px;
}
.carousel-item img{
    width: 100%;
    height: 400px;
}
.carousel-item .h2 ,h5,p,.p{
   color: yellow;
}
.h2{
    color:yellow ;
}
.card img{
    width: 100%;
    height: 250px;  
}


